<a href="https://colab.research.google.com/github/mahluwal/PY_DSML_LibrariesFun/blob/main/PythonMisc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import random
#to randomly shuffle items of a list
x=[1,2,3,4,5,6,7,8,9,10]
random.shuffle(x)
x

[4, 10, 2, 3, 5, 6, 8, 7, 9, 1]

In [9]:
#Get length of a string without using len function
a="Opthalmology"
count=0
for i in a:
  count+=1
print(count)

12

In [13]:
#Replace all odd numbers by -1
import numpy as np
arr=np.arange(0,10,1)
arr[arr%2==1]=-1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [14]:
#To get common items between two numpy arrays
a=[1,2,3,4,5,6,7,8,9]
b=[3,5,8,9,15,16,17]
np.intersect1d(a,b)

array([3, 5, 8, 9])

In [15]:
#To make first letter upper
import pandas as pd
ser=pd.Series(['may','june','july','august','september',
               'october','november','december'])
ser.map(lambda x:x.title())

0          May
1         June
2         July
3       August
4    September
5      October
6     November
7     December
dtype: object

In [ ]:
#To change column name
"""iris.head()
iris1=iris.rename(columns={'Sepal length':'S_Length'})
iris1.head()"""